<h1>Hallo music cats!</h1>
<form action="/artist-search">
  <label for="">
    <input type="text" placeholder="Artist to Search for.." name="term" />
  </label>
  <button>Search for an Artist</button>
</form>